img{
    height: 60vh;
    width: 30vw;
}

.about-overall-container{
    background: linear-gradient(rgba(0,0,0.7), rgba(0,0,0,.7)), url('../../images/imageEleven.jpg') no-repeat fixed center center;
    background-size: contain;
    color: #fff;
}

