.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.App-Route {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Add mobile-specific styles here */
@media only screen and (max-width: 768px) {
  .App {
    padding: 10px;
  }
  .App-Route {
    min-height: 50vh;
  }
}