*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-overall-container{
  height: 50vh;
}

.coloured{
  height: 40vh;
  width: 50vw;
}

.white{
  height: 40vh;
  width: 70vw;
}

li a{
  color: white;
  text-decoration: none;
  line-height: 2rem;
}

li a:hover{
  text-decoration: underline;
}

li{
  list-style-type: none;
}




